# Dependencies and builds (front-end and back-end)
node_modules/
dist/
dist-ssr/

# Windows Powershell cache
/backend/Microsoft/

# Environment files
.env
.env.*
*.local

# Logs
logs/
*.log

# Editors and operating systems
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
